@import "tailwindcss";

@keyframes spin-slow {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* in index.css */
.globe canvas {
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(226, 0, 79, 0.25);
}

.globe-container canvas {
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(226, 0, 79, 0.25);
}
